<div data-aos="fade-down" data-aos-duration="200" data-aos-once="true"
    class="sticky top-0 bg-tertiary p-2 text-center rounded-b-xl md:rounded-b flex justify-around z-30  ">
    <div class="relative">
        <!-- <div class="flex justify-center items-center ">
        <button class="">
            <img  class="h-10 w-10 hover:opacity-70 brightness-150"  src="../../../assets/instagram3.svg" alt="">
        </button>
    </div> -->
        <div class="flex  justify-between items-center gap-16 md:gap-56 relative">

            <a href="https://t.me/twoslices" target="_blank"><img
                    class="object-scale-down h-12 md:h-14 hover:cursor-pointer  hover:brightness-125"
                    src="../../../assets/logo_telegram.png" alt=""></a>

            <div>
                <img class="object-scale-down h-14 md:h-16 " src="../../../assets/two slices trasparente.png" alt="">
            </div>

            <a href="https://instagram.com/gimuz_comics?igshid=YmMyMTA2M2Y=" target="_blank"><img
                    class="object-scale-down h-12 md:h-14  hover:cursor-pointer  hover:brightness-125"
                    src="../../../assets/logo_insta.png" alt=""></a>

        </div>
        <!-- <div class="text-xl  pt-3 ">
        <a href="#personaggi">
            <img class="h-16 w-16 hover:opacity-50 brightness-150" src="../../../assets/personaggi.svg" alt="">
        </a>
    </div> -->

    </div>
    <!-- <img class="hidden md:block absolute rotate-0 md:scale-100 hover:scale-100 md:-rotate-180 h-20 top-[135px] scale-[0.2] md:-top-12 right-0 md:-right-0  md:hover:translate-y-12 transition-all ease-in-out "
        src="../../../assets/testa_amarillo.png" alt=""> -->

    <img class="absolute h-20 top-20 md:top-2 -left-48 md:-left-20 hover:translate-x-40 md:hover:translate-x-16 hover:rotate-12 transition-all ease-in-out"
        src="../../../assets/testa_piero.png" alt="">

</div>

