<div class="sticky top-0 bg-slate-800 p-2 text-center rounded-b flex justify-around z-30">
    <div class="flex justify-center items-center ">
        <button class="">
            <img  class="h-10 w-10"  src="../../../assets/instagram3.svg" alt="">
        </button>
    </div>
    <div class="flex-none">
        <img class="object-scale-down h-16 ml-10" src="../../../assets/two slices trasparente.png" alt="">
    </div>
    <div class="text-xl  pt-3 ">
        <button>
            <img class="h-16 w-16  " src="../../../assets/personaggi.svg" alt="">
        </button>
    </div>
</div>