<div data-aos="fade-down" data-aos-duration="200" data-aos-once="true"
    class="sticky top-0 bg-tertiary p-2 text-center rounded-b-xl md:rounded-b flex justify-around z-30  ">
    <div class="relative">
        <!-- <div class="flex justify-center items-center ">
        <button class="">
            <img  class="h-10 w-10 hover:opacity-70 brightness-150"  src="../../../assets/instagram3.svg" alt="">
        </button>
    </div> -->
        <div class="flex-none relative">
            <img class="object-scale-down h-16 " src="../../../assets/two slices trasparente.png" alt="">

        </div>
        <!-- <div class="text-xl  pt-3 ">
        <a href="#personaggi">
            <img class="h-16 w-16 hover:opacity-50 brightness-150" src="../../../assets/personaggi.svg" alt="">
        </a>
    </div> -->

    </div>
    <img class="absolute -rotate-90 h-20 top-0 -right-10 md:-right-12 hover:-translate-x-14 md:hover:-translate-x-16 hover:rotate-12 transition-all ease-in-out" src="../../../assets/testa_amarillo.png" alt="">

    <img class="absolute h-20 top-2 -left-36 md:-left-20 hover:translate-x-32 md:hover:translate-x-16 hover:rotate-12 transition-all ease-in-out" src="../../../assets/testa_piero.png" alt="">

</div>