<main class="text-white  font-pirata">
    <app-header></app-header>

    <section class="bg-slate-900 min-h-screen  flex flex-col sm:mx-0 md:mx-[20%] p-5">
        <section>
            <h2 class="text-5xl text-center mb-6 ">Two Slices</h2>
            <h3 class=""></h3>
            <hr class="my-2">

        </section>
        <h3 class="text-3xl text-left">Cos'è Two Slices?</h3>

        <section class="grid sm:grid-cols-1 md:grid-cols-2">
            <div class="m-4">
                <div class="text-xl">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper mollis sagittis. Aenean
                        ac
                        ex
                        est. Fusce bibendum urna vel eros tempus, quis scelerisque urna interdum. Maecenas quis
                        sollicitudin
                        libero, sit amet lobortis tortor. Vestibulum feugiat lacus diam, nec condimentum libero
                        vestibulum
                        ac.
                        Quisque nunc erat, tincidunt eget felis vitae, consectetur facilisis dui. Morbi porttitor
                        elementum
                        nisl
                        ut dapibus. Sed in bibendum ex. Sed hendrerit enim ac lectus lacinia blandit. Suspendisse et
                        tristique
                        risus, quis pellentesque ipsum. Sed enim lectus, euismod id tincidunt vitae, mollis a nisi.
                    </p> <br>
                    <p> Proin egestas, urna non maximus posuere, dui erat elementum nisl, a venenatis diam arcu non
                        neque.
                        Fusce semper odio in feugiat tincidunt. Donec condimentum gravida enim a sollicitudin. Ut
                        bibendum
                        felis scelerisque risus mollis feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia curae; </p>
                </div>
            </div>
            <div class="m-4 flex justify-center relative">

                <img class="object-cover rounded-2xl h-[360px] hover:h-[450px] transition-all ease-in-out border-4 shadow-md shadow-white"
                    src="../../../assets/two slices manga.png" alt=""><span class="absolute -top-7"> Copertina </span>
            </div>
        </section>
        <br>
        <hr class="my-2">
        <h3 class="text-3xl text-right">Di cosa parla questa storia?</h3>

        <section>
            <div class="m-4">
                <div class="text-xl">Curabitur pharetra ante viverra elit tempus sollicitudin. Donec imperdiet
                    vestibulum neque, vel mollis justo convallis a. Aenean commodo suscipit enim, eget sagittis lorem
                    ultricies vitae. Integer eros ipsum, viverra nec nunc eget, suscipit congue felis. Nulla aliquam
                    tristique magna in eleifend. Pellentesque ut lectus ultricies, viverra sapien quis, tincidunt enim.
                    Integer viverra neque id dui auctor dignissim. Pellentesque ut varius magna. Sed varius gravida
                    tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer a quam ut odio
                    eleifend ullamcorper vel at ex. Phasellus facilisis congue libero, sit amet ullamcorper ligula
                    tempor varius. Donec congue aliquam scelerisque. Sed consequat iaculis ullamcorper. Mauris aliquam
                    posuere metus eu molestie. Sed rhoncus at neque at blandit.</div>
            </div>
        </section>

        <br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section>

</main>