<ng-container *ngIf="loadedWait">
    <main class="text-black  font-pirata scroll-smooth opacity-100 overflow-x-hidden">
        <app-header></app-header>

        <section
            class="bg-quaternary min-h-screen flex flex-col sm:mx-0 md:mx-[20%] p-6 md:px-20 shadow-2xl skew-x-0 md:skew-x-2 shadow-tertiary ">

            <section>
                <div class="flex justify-center gap-10 items-center">
                    <img class="h-16" src="../../../assets/Sclices-flag-icon-svg.svg" alt="">
                    <div>
                        <h2 class="text-6xl text-center mb-6 my-10 white">Two Slices</h2>
                    </div>
                    <img class="h-16" src="../../../assets/Sclices-flag-icon-svg.svg" alt="">
                </div>
                <h3 class=""></h3>
                <hr class="my-2 style-seven">

            </section>
            <h3 class="text-3xl text-left">Cos'è Two Slices?</h3>

            <section class="grid sm:grid-cols-1 md:grid-cols-2">
                <div class="m-4">
                    <div class="text-xl fadeInClass">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper mollis sagittis.
                            Aenean
                            ac
                            ex
                            est.

                            risus, quis pellentesque ipsum. Sed enim lectus, euismod id tincidunt vitae, mollis a nisi.
                        </p> <br>
                        <p> Proin egestas, urna non maximus posuere, dui erat elementum nisl, a venenatis diam arcu non
                            neque.
                            Vestibulum ante ipsum primis in faucibus orci luctus et
                            ultrices posuere cubilia curae; </p>
                        <div class="flex justify-center items-center">
                            <img class="h-28 mt-5" src="../../../assets/100-percent-original-stamp-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div data-aos="flip-right" data-aos-duration="1000" class="relative m-4 flex justify-center ">

                    <img class="relative z-10 object-cover rounded-2xl h-[360px]  hover:scale-110 transition-all ease-in-out border-4 border-secondary shadow-secondary"
                        src="../../../assets/two slices manga.png" alt="">
                    <img class=" -top-4 md:-top-10 right-0 md:right-10 blur-[2px] absolute object-cover rounded-2xl h-[260px]  hover:scale-110 transition-all ease-in-out border-4 border-secondary shadow-secondary"
                        src="../../../assets/barbaBianca.PNG" alt="">
                    <img class=" bottom-4 md:bottom-10 left-0 md:left-16 blur-[1px] absolute object-cover rounded-2xl h-[160px]  hover:scale-110 transition-all ease-in-out border-4 border-secondary shadow-secondary"
                        src="../../../assets/marmottaArmata.PNG" alt="">

                </div>
            </section>
            <br>
            <hr class="style-seven my-2">
            <h3 data-aos="fade-right" data-aos-offset="120" data-aos-duration="1000" class="text-3xl text-right mb-4">
                Qualcosa qualcosa?</h3>

            <section class="grid sm:grid-cols-1 md:grid-cols-2 mb-4">

                <div data-aos="flip-up" data-aos-offset="350" data-aos-duration="1000"
                    class="relative m-4 flex justify-center">
                    <iframe class="z-10 w-full min-h-[300px] rounded-lg border-4 border-secondary"
                        src="https://www.youtube.com/embed/izoJuJPhdPs" title="Two Slices Opening 1 - Sub Ita"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <img class="absolute -top-14 h-[123px] -left-0 hover:-translate-y-12 transition-all ease-out"
                        src="../../../assets/testa_syntho.png" alt="">

                    <img class="absolute -top-8 h-[110px] -right-0 hover:-translate-y-14 transition-all ease-out"
                        src="../../../assets/testa_femuz.png" alt="">
                </div>
                <div data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" class="text-xl">Curabitur
                    pharetra
                    ante viverra elit tempus sollicitudin. Donec
                    imperdiet
                    vestibulum neque, vel mollis justo convallis a. Aenean commodo suscipit enim, eget sagittis lorem
                    ultricies vitae. Integer eros ipsum, viverra nec nunc eget, suscipit congue felis. Nulla aliquam
                    tristique magna in eleifend. </div>

            </section>

            <hr class="my-2 style-seven">
            <h3 id="personaggi" class="text-3xl text-center mb-6 -mt6">Personaggi</h3>
            <section class=" grid grid-cols-2 md:grid-cols-4 gap-5 md:gap-20">
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="200"
                    class="rounded-2xl border-2 border-secondary shadow-sm h-64 shadow-secondary">

                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="200"
                    class="rounded-2xl border-2 shadow-sm h-64 border-secondary shadow-secondary">

                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="200"
                    class="rounded-2xl border-2 shadow-sm h-64 shadow-secondary border-secondary">

                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="200"
                    class="rounded-2xl border-2 shadow-sm h-64 shadow-secondary border-secondary">

                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="200"
                    class="rounded-2xl border-2 shadow-sm h-64 shadow-secondary border-secondary">

                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="200"
                    class="rounded-2xl border-2 shadow-sm h-64 shadow-secondary border-secondary">

                </div>
                <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-offset="100"
                    class="rounded-2xl border-2 shadow-sm h-64 shadow-secondary border-secondary">

                </div>
            </section>

            <br>
            <br><br><br><br><br><br>
        </section>

    </main>

</ng-container>