<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div *ngIf="removeLoading==false" class="disappear bg-secondary  fixed z-50 w-screen h-screen flex justify-center pt-56">
    &nbsp;
    <div>
        <img class="h-20" src="../assets/LoadingIconLaugh.gif" alt="">
        <div class="flex justify-center gap-2">
            <div class="h-5 w-5 bg-sky-800 border-4 border-primary  mt-10 rounded-full transition-all  animate-bounce">

            </div>
            <div class="h-5 w-5 bg-sky-800 border-4 border-primary mt-10 rounded-full transition-all delay2 animate-bounce">

            </div>
            <div class="h-5 w-5 bg-sky-800 border-4 border-primary mt-10 rounded-full transition-all delay1 animate-bounce">

            </div>
        </div>
    </div>
</div>
<div class="bg-rimini">
    <router-outlet></router-outlet>
</div>