/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pirata{
    font-family: 'Pirata One', cursive;
}

.bg-rimini{
    /* background-image: url('../src/assets/panoramica-spiaggia3_Edit1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    @apply bg-quaternary
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    /* border-color: white; */
    @apply border-primary;
    border-width: 3px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    /* border-color: white; */
    @apply border-primary;
    border-width: 0 0 3px 0;
    border-radius: 20px;
}

.fadeInClass {
    animation-name: fadein;
    animation-duration: 4s;
  }

@keyframes fadein {
    0%{
        @apply opacity-0
    }
    100%{
        @apply opacity-100
    }
}

.loadIniziale {
    animation-name: loadIniziale;
    animation-duration: 5s;
  }

@keyframes loadIniziale {
    0%{
        @apply opacity-0;
        
    }
    80%{
        @apply opacity-0
    }
    100%{
        @apply opacity-100
    }
}

